<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/XSL/Transform">
    <head>

    </head>
    <body>
        <div style="text-align: center;">
            <h1>Hello <div th:text="${name}"></div> </h1>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iterator : ${items}">
                <!--/*@thymesVar id="item" type="com.mikhail.practice.demo.persistence.entities.Item"*/-->

                <td th:text="${iterator.index + 1}"/>
                <td th:text="${item.name}"/>
                <td th:text="${item.price}"/>
            </tr>
            </tbody>
        </table>
    </body>
</html>